/**
 * @file
 * Use this CSS file to override base CSS rules
 * Daan Van Vooren & Maxime De Braekeleer
 */

/* Banner homepage */
.banner {
  background-image: url("../../images/museum/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 0px !important;
  padding: 500px 0 100px !important;
  margin-bottom: 30px !important;
}

/* Fontsize van navbar */
.header-container ul.menu li a {
  font-size: 25px !important;
  padding: 5px 23px !important;
  text-transform: none !important;
}

/* Hoogte navbar */
.header__section ul.menu {
  padding: 25px 0 !important;
}

/* Size van logo navbar */
.onscroll-logo {
  width: 200px;
  height: auto;
  margin: 7px 5px 5px 40px !important;
}

/* Hover color van navbar */
#block-magazine-lite-main-menu a:hover {
  color: rgb(94, 148, 180) !important;
}

/* Geen naam in navbar */
.onscroll-site-name {
  display: none !important;
}

/* Achtergrondkleur navbar */
.onscroll .header.js-fixed.region--white-background {
  background-color: white !important;
}

/* Zoekbalk bovenaan naast navbar zetten */
#block-searchform {
  width: 200px !important;
  float: right !important;
  margin-top: -78px !important;
  margin-right: -130px !important;
}

/* Footer kleur */
.region--dark-background {
  background-color: #ececec !important;
}

/* Footer font kleur */
.region--light-typography ul.menu li a {
  color: #141414 !important;
}

/* Table voor footer */
.region-footer-bottom-second table tr th {
  background-color: rgba(1, 1, 1, 0) !important;
  border-style: none !important;
  border-width: 0 0 0px 0 !important;
  border-color: rgba(1, 1, 1, 0) !important;
  padding: 15px 20px !important;
  font-size: 15px !important;
  color: #2d2d2d !important;
  text-transform: none !important;
  font-weight: bold !important;
}

.region-footer-bottom-second table tr td {
  border-style: none !important;
  border-width: 0 0px 0px 0 !important;
  border-color: rgba(1, 1, 1, 0) !important;
  padding: 0px 20px !important;
  background-color: rgba(1, 1, 1, 0) !important;
  font-size: 15px !important;
  font-weight: 400 !important;
  color: #2d2d2d !important;
  text-align: left !important;
}

.region-footer-bottom-second table tr td a {
  color: #2d2d2d !important;
}

/* ContenttitelCenteren Bij Collectie */
.eigenContentCenter {
  text-align: center !important;
  font-weight: bold !important;
}

/* Collectie images hover */
.imgCollectieHover:hover {
  filter: opacity(0.9) !important;
  transition: 0.5s;
  -moz-transition: 0.5s;
}

/* Padding bij grid fields */
.views-col {
  padding: 0px 15px 50px 0px !important;
}

/* Text align bij Titel en description pagina */
.block-page-title-block {
  text-align: center !important;
}

.view-header {
  text-align: center !important;
  margin-bottom: 40px !important;
}

/* Padding bij pagebegin (titel en desc) */
.main-content__section, .sidebar__section {
  padding: 30px 0 70px !important;
}

/* blauweKleurVoorTag */
.blauweKleurVoorTag div a {
  color: rgb(238, 238, 238) !important;
  background-color: rgb(73, 73, 73) !important;
  padding: 5px !important;
}

.collectieItemTitel {
  font-weight: bold !important;
}

/* Layout van de agenda (fullcalanderview) */
.agendaLayout {
  margin: 0px 100px 0px 100px !important;
  text-align: center !important;
}

.agendaLayout table {
  color: blue !important;
}